<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Goiaba POS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Welcome</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="start()" expand="block" fill="clear" shape="round">
              Start
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>