.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--ion-color-medium);

  ion-spinner {
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
  }
}

ion-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  ion-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin-bottom: 16px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}