<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Goiaba POS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="products$ | async as products; else loading">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let product of products">
          <ion-card>
            <img [src]="product.thumbnail || 'https://ionicframework.com/docs/img/demos/card-media.png'" alt="Product Thumbnail" />
            <ion-card-header>
              <ion-card-title>{{ product.title }}</ion-card-title>
              <ion-card-subtitle *ngIf="product.variants?.[0]?.prices?.[0]">
                {{ product.variants[0].prices[0].amount / 100 | currency: product.variants[0].prices[0].currency_code }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p>{{ product.description }}</p>
              <ion-button expand="block" (click)="addToCart(product)" class="ion-margin-top">
                Add to Cart
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading Products...</p>
    </div>
  </ng-template>
</ion-content>